<h1>Test Dashboard</h1>
<% if @current_user %>
	<% if @current_user.has_role(Role::STORE_OWNER) %>
		<div><%= link_to "Manage toppings", toppings_path, class: "button" %></div>
	<% end %>
	<% if @current_user.has_role(Role::CHEF) %>
		<div><%= link_to "Manage pizzas", pizzas_path, class: "button" %></div>
	<% end %>
<% else %>
	<div>Select a user to test the application</div>
<% end %>
<table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Store Owner</th>
	    <th>Chef</th>
	  </tr>
	</thead>
	<tbody>
	  <%= render partial: "user_row", collection: @users %>
	</tbody>
</table>
