<h1>Test Dashboard</h1>
<% if @current_user %>
	<% if @current_user.has_role(Role::STORE_OWNER) %>
		<%= link_to "Manage toppings", toppings_path %>
	<% end %>
	<% if @current_user.has_role(Role::CHEF) %>
		<%= link_to "Manage pizzas", pizzas_path %>
	<% end %>
<% else %>
	Select a user to test the application
<% end %>
<table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Store Owner</th>
	    <th>Chef</th>
	  </tr>
	</thead>
	<tbody>
	  <%= render partial: "user_row", collection: @users %>
	</tbody>
</table>
